/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/07/2014, 14:22:48
    Author     : nico
*/

/* CSS Document */

/* css de la ventana de chat */
#caja{
    border: 3px solid #019DEB;
    margin-left: 65%;
    position: fixed;	
    bottom: 0px;
    width: 25%;
    float: right;
    background: white;//#ACD8F0;
    z-index: 9999;
    border-radius: 8px;
}
/* css de la cabecera de la ventana de chat */
#chatMenu{
    height: 30px;
    bottom: 0px;
    background-color: #019DEB;
    text-align: center;
    color: white;
}
/* css del div donde estan los mjes de log.html */
#chatbox{
    //border: 1px solid #6EB4DA;
    height: 300px;
    width: 96%;
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 5px;
    text-align:left;    
    overflow-y: scroll;
}
/* css del nombre del usuario (con click hace el efecto toggle) */
//#botonOcultaChat{
//    float: left;
//    margin-left: 10px;    
//
//}
#iconoChat{
    float: right;
}
/* css del form inferior donde escribe el usuario */
#formChat{
    width: 96%;
    margin-left: 5px;
    margin-top: 3px;
}
/* css del boton oculto de envio del formulario */
#submitmsg{
    position: absolute;
    height: 0px;
    width: 0px;
    border: none;
    padding: 0px;
}
/* css del input donde escribe el usuario */
#usermsg{
    width:90%;
    height: 100%;
}
/* css del div de cada mje cargado de log.html */
.msgln{
    background-color: #E3FDFF;//#C9EBFC;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: solid 1px #9BE6F7;
}
#pChat{
    margin-left: 2px; 
    margin-right: 2px;
    margin-top: -10px;
}
/* css de la fecha de cada mensaje de log.html */
#lineaChatFecha{
    font-size: 6pt;
    color: gray;
    font-family: Arial;
}
/* css del nombre de usuario de cada mensaje de log.html */
#lineaChatNameUser{
    font-size: 8pt;
    font-family: Arial;
}
/* css del footer de la ventana de chat */
#noteFooterChat{
    font-size: 9px;
    float: left;
    margin-top: -20px;
    margin-left: 70px;
}